
/* BODY */

body {
  background-color: rgb(243, 243, 243);
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
}

h3{
  font-weight: 400;
}

.border-top-thick {
  border-top: 2px solid darkgrey;
}

.border-btm-thick {
  border-top: 2px solid darkgrey;
}

.title {
  color: rgb(189, 189, 189);
  font-size: 16px;
  font-weight: 500;
}

.btn-cancel{
  background-color: lightgray;
  color:  rgb(19, 19, 19);
  border: none;
  font-size: 11px;
  padding: 8px 20px;
}

.p-absolute {
  position: relative;
  right: -190px;
  float: right;
}

.text-disabled {
  color: rgb(189, 189, 189);
}

.margin-btm-6px {
  margin-bottom: 6px;
}

.container p {
  font-size: 16px;
}

.p-8 {
  padding-top: 8px;
}

.bg-nav {
    background-color: rgb(20, 20, 20);
    /* background-color: rgb(5, 5, 5); */
}
.drop-nav{
    background-color: rgba(0,0,0,.9);
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    border: solid 1px rgba(255,255,255,.15);
    cursor: default;
}
.account-nav{
    background-color: rgba(0,0,0,.9);
    font-size: 13px;
    line-height: 21px;
    border: solid 1px rgba(255,255,255,.15);
    cursor: default;
}
.nav-bar ul li a{
    font-size: 1.2rem;
    font-family: Arial,sans-serif;
}

a{
    color: #fff;
}
.account-nav .dropdown-item{
    background-color: transparent;
    color: #fff;
}
.account-nav .dropdown-divider{
    border: solid 1px rgba(255,255,255,.15);
}
.account-nav .dropdown-item a:hover{
    background-color: transparent;
    color: #fff;
    /* border-bottom: 1px solid white; */
}

.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	/* background-color: white; */
	color: white;
    cursor: pointer;
}


.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}


.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
  background-color: transparent;
	color: white;
}

.search {
	position: absolute;
	left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
    background-color: transparent;
    color: white;
	outline: none;
	border: white;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}