
/* BODY */

body {
  background-color: rgb(243, 243, 243);
}

h3{
  font-weight: 400;
}

.border-top-thick {
  border-top: 2px solid darkgrey;
}

.border-btm-thick {
  border-top: 2px solid darkgrey;
}

.title {
  color: rgb(189, 189, 189);
  font-size: 16px;
  font-weight: 500;
}

.btn-cancel{
  background-color: lightgray;
  color:  rgb(19, 19, 19);
  border: none;
  font-size: 11px;
  padding: 8px 20px;
}

.p-absolute {
  position: relative;
  right: -190px;
  float: right;
}

.text-disabled {
  color: rgb(189, 189, 189);
}

.margin-btm-6px {
  margin-bottom: 6px;
}

.container p {
  font-size: 16px;
}

.p-8 {
  padding-top: 8px;
}