body {
    background-color: #141414;
    color: #fff;
}

#netflixLogo {
    width: 100px;
    text-align: left;
}

.container {
    padding-top: 100px;
    max-width: 40%;
    height: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#profilePic {
    width: 125px;
    border-radius: 5px;
}

hr {
    border: 0.1px solid gray;
    opacity: 20%;
}

#languages {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#nameInput {
    width: 100%;
    background-color: gray;
    color: white;
}

#languageTitle {
    padding-top: 10px;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#maturityButton {
    color: white;
    background-color: rgba(169, 169, 169, 0.356);
    width: 225px;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#editButton {
    background-color: #141414;
    border: 1px solid gray;
    color: gray;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

#checkbox {
    background-color: gray;
}

#checkboxText {
    display: inline-block;
}

#darkButton {
    background-color: #141414;
    border: 1px solid gray;
    color: gray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    padding: 5px;
}

#lightButton {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: none;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 5px;
}

#languageLabel {
    position: absolute;
    bottom: 30px;
}

footer {
    padding: 50px;
    text-align: center;
}

p {
    font-size: 12px;
}






@media screen and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape)
body, html {
    font-size: .85vw;
}